@using Noamooz.Web.Models.ViewModel
@model ProductViewModel
@{
    Layout = "_Layout";
}

@foreach (var item in Model.products)
{
    @await Html.PartialAsync("_ItemProduct", item)
}
<div class="col-12">
    <div page-model="@Model.pagingInfo" page-action="List" class="pagination d-flex justify-content-center mt-5">
    </div>
</div>
